$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Set color variables:
$brandblue : #4056A1;
$brandlightblue: #C5CBE3;
$brandyellow:#E7A92F;
$brandblack: #1E212B;
$brandgold: #D79922;
$brandcream: #EFE2BA;
$brandred: #F13C20;

$text-color: $brandblack;