@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Judson:ital@0;1&display=swap');
// Set fonts for body and headers
$body-font: 'Judson', 'serif';
$headers-font: 'Archivo Black', 'sans-serif';
$btn-font: 'Archivo', 'sans-serif';
