<div class="intro">
  <h1>Full-stack Developer, Product Director, Consultant</h1>
  <p>I find elegant solutions to complex problems.</p>
  <%= image_tag("pxc-portrait", class: "avatar-home") %>
</div>

<div class="details">
  <div class="my-details">
    <h2>Hi, I'm Patrick. Nice to meet you.</h2>
    <p>Before becoming a developer, I worked for years as a a Project Director, Trainer, and the "most tech friendly non-tech person". I build great products that are easy to use.</p>
  </div>
</div>

<div class="expertise">
  <div class="item 1">
    <div class="expertise-header">
      <h1 class="expertise-icon"><i class="fas fa-laptop-code"></i></h1>
      <h2>Developer</h2>
      <p>I build custom and scalable solutions that meet your needs and are easy to manage.</p>
    </div>
    <div class="expertise-first-block">
      <p class="expertise-p">Languages I speak:</p>
      <p>Ruby, Javascript, React.JS, CSS</p>
    </div>
    <div class="expertise-final-block">
      <p class="expertise-p">Dev & Design Tools:</p>
      <ul>
        <li>Bootstrap</li>
        <li>Codepen</li>
        <li>Figma</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
  <div class="item 2">
    <div class="expertise-header">
      <h1 class="expertise-icon"><i class="far fa-handshake"></i></h1>
      <h2>Integration</h2>
      <p>Building a great tool isn't enough, they must be adopted to be valuable.</p>
    </div>
    <div class="expertise-first-block">
      <p class="expertise-p">Keys to successful integrations:</p>
      <p>Needs assessment, communication of feedback and improvements, training, documentation.</p>
    </div>
    <div class="expertise-final-block">
      <p class="expertise-p">Integration Tools:</p>
      <ul>
        <li>Asana</li>
        <li>Jira</li>
        <li>Trello</li>
        <li>Google Meet, Teams, Zoom</li>
      </ul>
    </div>
  </div>
  <div class="item 3">
    <div class="expertise-header">
      <h1 class="expertise-icon"><i class="fas fa-user-friends"></i></h1>
      <h2>Consultant</h2>
      <p>I've worked with a variety of out-of-the-box systems and tools. I can evaluate how you're using them and help better integrate them into your organization.</p>
    </div>
    <div class="expertise-first-block">
      <p class="expertise-p">Successful existing systems:</p>
      <p>Meet your current and near-future needs, are used widely by staff, have internal experts who can troubleshoot basic issues and train new staff.</p>
    </div>
    <div class="expertise-final-block">
      <p class="expertise-p">Systems & Tools:</p>
      <ul>
        <li>Adobe</li>
        <li>Dropbox</li>
        <li>Microsoft Office</li>
        <li>Microsoft OneDrive & Sharepoint</li>
        <li>Microsoft Teams</li>
        <li>Quick Base</li>
        <li>Zoom</li>
      </ul>
    </div>
  </div>
</div>
