<div class="footer">
  <%= link_to("https://www.linkedin.com/in/pxcronin/", target: "_blank") do %>
    <i class="fab fa-linkedin-in"></i>
  <% end %>
  <%= link_to("https://github.com/pxcronin", target: "_blank") do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= mail_to("pxcronin@gmail.com", subject: "Hi, Patrick!", target: "_blank") do %>
    <i class="far fa-envelope"></i>
  <% end %>
</div>
